<h2><%= result[0].creator_name %>'s Bird</h2>
<h4>Bird Name - <%= result[0].animal_name %></h4>
<br>
<a href ='/edit/<%=result[0].animal_name%>'><button>Edit Listing</button></a>
<a href ='/delete/<%=result[0].animal_name%>'><button>Delete Listing</button></a>
<hr>
<a href ='/'><button>Go home!</button></a>